@model Perkjam.Client.ViewModels.GetAddressFromIDPViewModel

<div class="container">
    <div class="h3 bottomMarginDefault">The users address was accessed from the Identity Provider and is @Model.Address</div>
</div>

